<nav>
  <hr />
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/blog.html">Blog</a></li>
    <li><a href="/docs/resume.pdf">R&eacute;sum&eacute;</a></li>
    <li><a href="http://scholar.google.com/citations?user=5cjwiVUAAAAJ">Google Scholar</a></li>
    <!-- <li><a href="http://www.ams.org/mathscinet/search/author.html?mrauthid=872021">MathSciNet Profile</a></li> -->
    <li><a href="http://runkeeper.com/user/jongretarsson">RunKeeper</a></li>
    <li><a href="https://github.com/jontg">GitHub</a></li>
    <li><a href="http://twitter.com/#!/jontomas">Twitter</a></li>
    <li><a href="papers/thesis.pdf">Thesis</a> [<a href="http://purl.stanford.edu/pg903df1604">@Stanford</a>]</li>
  </ul>
  <br />
  <hr />
</nav>
