<!doctype html>
<html>
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>J&oacute;n T&oacute;mas Gr&eacute;tarsson</title>
   <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" />
  </head>
  <body>
    <div class="main">
    <a href="https://github.com/jontg"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub"></a>
      <div class="container">
        {% include sidebar.html %}
      </div>

      <header>
        <img src="/images/jontg-cropped.png" align="left" />
        <div id="bio">
          <h3>J&oacute;n T&oacute;mas Gr&eacute;tarsson, Ph.D.</h3>
          <address>
            Box, Inc<br />
            900 Jefferson Ave.<br />
            Redwood City, CA 94063<br />
            jon.gretarsson@gmail.com
          </address>
        </div>

        <div align=right id="ontheweb">
          <a href="http://www.wordle.net/show/wrdl/5054105/Publication_Wordle" title="Wordle: Publication Wordle">
            <img src="/images/WordMap.png" id="wordmap" /></a>
        </div>

        <br clear="left" />
        <section id="intro">
          I am currently working as a Senior Staff Engineer at <a href="https://www.box.com/">Box</a>,
          <a href="https://techcrunch.com/2018/06/01/box-acquires-progressly-to-expand-workflow-options/">by way of acquisition</a> of Progressly where I was the Principle Architect.
          Before that I was an Architect at <a href="https://www.salesforce.com">Salesforce</a>,
          <a href="https://www.forbes.com/sites/alexkonrad/2014/07/11/salesforce-com-acquires-relateiq-for-390-million-preempting-a-future-rival/">by way of acquisition</a> of RelateIQ.
          In a previous life, I was a researcher working with Professors <a href="http://physbam.stanford.edu/~fedkiw/">Ron Fedkiw</a> and <a href="http://frg.stanford.edu/">Charbel Farhat</a>
          at <a href="http://www.stanford.edu">Stanford University</a>, where my research interests included computational physics, numerical methods and computational fluid dynamics.  I
          graduated with my Ph.D. in March 2012 from the <a href="http://icme.stanford.edu/">Institute for Computational and Mathematical Engineering</a>, under the guidance of <a
                 href="http://physbam.stanford.edu/~fedkiw/">Prof.  Ron Fedkiw</a>, with the dissertation entitled "Fully conservative leak-proof treatment of thin solid structures immersed in
          compressible fluids." I previously graduated from <a href="http://www.wpi.edu/">Worcester Polytechnic Institute</a> with a B.S. in <a href="http://www.cs.wpi.edu/">Computer
          Science</a> and a minor in <a href="http://www.wpi.edu/academics/Depts/Math/index.html">Mathematics</a>.

        </section>

        {% include nav_bar.html %}
      </header>

      {{ content }}

      {% include footer.html %}
    </div>
  </body>
</html>
