<!doctype html>
<html>
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>J&oacute;n T&oacute;mas Gr&eacute;tarsson</title>
   <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" />
  </head>
  <body>
    <div class="main">
    <a href="https://github.com/jontg"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub"></a>
      <div class="container">
        {% include sidebar.html %}
      </div>

      <header>
        <img src="/images/jontg-cropped.png" align="left" />
        <div id="bio">
          <h3>J&oacute;n T&oacute;mas Gr&eacute;tarsson, Ph.D.</h3>
          <address>
            Progressly, Inc<br />
            2395 Broadway<br />
            Redwood City, CA 94063<br />
            jon.gretarsson@gmail.com
          </address>
        </div>

        <div align=right id="ontheweb">
          <a href="http://www.wordle.net/show/wrdl/5054105/Publication_Wordle" title="Wordle: Publication Wordle">
            <img src="/images/WordMap.png" id="wordmap" /></a>
        </div>

        <br clear="left" />

        {% include nav_bar.html %}
      </header>

      {{ content }}

      {% include footer.html %}
    </div>
  </body>
</html>
